@charset "utf-8";

$family-primary: "Ubuntu",
sans-serif;
$family-secondary: "Roboto",
sans-serif;


@import "~bulma/bulma";

// wagtail wraps text in a <b> tag, when formatting it as bold.
b {
    font-weight: $weight-bold;
}

// global smooth scroll behavior
html {
    scroll-behavior: smooth;
}
