@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$family-primary: "Ubuntu", sans-serif;
$family-secondary: "Roboto", sans-serif;


@import "~bulma/bulma";

// wagtail wraps text in a <b> tag, when formatting it as bold.
b {
    font-weight: $weight-bold;
}

// global smooth scroll behavior
html {
    scroll-behavior: smooth;
}