{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-content{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_content.css' %}">
{% endblock %}

{% block content %}
{% if page.show_content %}
    <h1 class="title">
        {{ page.heading }}
    </h1>
    <div class="content">
        {{ page.body|richtext }}
    </div>
{% endif %}

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="contentMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="contentMenu" class="navbar-menu">
            <div class="navbar-start">
                {% for section in self.content_sections.all %}
                <a class="navbar-item submenu" href="#submenu-{{ section.link }}">
                    {{ section.heading }}
                </a>
                {% endfor %}
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>

{% for section in self.content_sections.all %}
        <div class="card" id="submenu-{{ section.link }}">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-one-third">
                        <figure class="image is-4by3">
                            {% image section.cover fill-800x600 %}
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title">
                            {{ section.heading }}
                        </h1>
                        <div class="content">
                            {{ section.body|richtext }}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#contentMenu" class="card-footer-item submenu">nach oben</a>
            </footer>
        </div>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_content.js' %}"></script>
{% endblock %}