{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-content{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_content.css' %}">
{% endblock %}

{% block content %}
<section class="section pt-0 pl-0 pr-0">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation" id="submenu">
        {% if page.show_content %}
        <div class="navbar-brand">
            <a class="navbar-item" href="{% pageurl self %}">
                {{ page.heading }}
              </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="contentMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {% endif %}
        <div id="contentMenu" class="navbar-menu">
            <div class="navbar-start">
                {% for section in self.content_sections.all %}
                <a class="navbar-item submenu" href="#submenu-{{ section.link }}">
                    {{ section.heading }}
                </a>
                {% endfor %}
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
</section>

{% if page.show_content %}
<section class="section pt-0 pl-0 pr-0">
    <div class="content">
        {{ page.body|richtext }}
    </div>
</section>
{% endif %}

{% for section in self.content_sections.all %}
<section class="section pt-0 pl-0 pr-0">
    <div class="card" id="submenu-{{ section.link }}">
        <div class="card-content">
            {% if section.cover %}
            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image is-4by3">
                        {% image section.cover fill-800x600 %}
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title">
                        {{ section.heading }}
                    </h1>
                    <div class="content">
                        {{ section.body|richtext }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        {{ section.heading }}
                    </h1>
                    <div class="content">
                        {{ section.body|richtext }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <footer class="card-footer">
            <a href="#submenu" class="card-footer-item submenu">
                nach oben
                <span class="icon">
                    <ion-icon name="caret-up-outline"></ion-icon>
                </span>
            </a>
        </footer>
    </div>
</section>
{% endfor %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_content.js' %}"></script>
{% endblock %}