{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-content{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_content.css' %}">
{% endblock %}

{% block content %}
<section class="section welcome">
    <div class="container is-family-secondary">
        <div class="columns">
            <div class="column is-two-fifths">
                {% if page.cover %}
                <div class="polaroid">
                    <figure class="image">
                        {% image page.cover width-400 %}
                    </figure>
                </div>
                {% endif %}
            </div>
            <div class="column">
                <h1 class="title has-text-white-ter">
                    {% if page.show_heading %}
                        {{ page.heading }}
                    {% endif %}
                </h1>
                <h2 class="subtitle has-text-white-ter pb-4">
                    {% if page.show_subheading %}
                        {{ page.subheading }}
                    {% endif %}
                </h2>
                <div class="content">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_content.js' %}"></script>
{% endblock %}