{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />

    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/ess_favicon_32x32.png' %}">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'bundle_main.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="has-background-white">

    {% wagtailuserbar %}

    {% include 'contactbar.html' %}

    {% block carousel %}{% endblock %}

    {% include 'navbar.html' %}
    
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    {% include 'footer.html' %}

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'ionicons/ionicons/ionicons.js' %}"></script>
    <script type="text/javascript" src="{% static 'bundle_main.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}

</body>

</html>