<section class="pt-2 is-hidden-touch">
    <div class="container">

        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        <a class="link is-info" href="https://goo.gl/maps/S2aDzV4nXWJRPw8o8" target="_blank">
                            Schulstraße 29 | 86551 Aichach
                        </a>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        <a class="link is-info" href="tel:+498251877930">
                            Tel: 08251 87793-0
                        </a>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Fax: 08251 87793-40</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        <a class="link is-info" href="mailto:verwaltung@sfz-aichach.de">
                            E-Mail: verwaltung@sfz-aichach.de
                        </a>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Kontakt</p>
                </div>
            </div>
        </nav>
    </div>
</section>