{% load wagtailcore_tags %}
{% load static %}
  <nav class="navbar is-dark container">


    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'assets/img/ess_logo_raw.svg' %}" height="28">
      </a>
      <div class="navbar-burger" data-target="navbarMain">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% slugurl 'static_site' %}">
          Statische Seite
        </a>
        <a class="navbar-item" href="{% slugurl 'blog' %}">
          Aktuelles
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="/admin" target="_blank">
          Intern
        </a>
      </div>
    </div>

  </nav>
