{% load wagtailcore_tags %}
{% load static %}

<nav class="navbar is-transparent mt-auto">
    <div class="navbar-brand">
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% slugurl 'leitbild' %}">
            Leitbild
          </a>
          <a class="navbar-item" href="{% slugurl 'schule' %}">
            Schule
          </a>
          <a class="navbar-item" href="{% slugurl 'angebot' %}">
            Angebot
          </a>
          <a class="navbar-item" href="{% slugurl 'kollegium' %}">
            Kollegium
          </a>
          <a class="navbar-item" href="{% slugurl 'schueler' %}">
            Schüler
          </a>
          <a class="navbar-item" href="{% slugurl 'archiv' %}">
            Archiv
          </a>
          <a class="navbar-item" href="/admin">
            Intern
          </a>
      </div>
    </div>
  </nav>