{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bundle_blog.css' %}">
{% endblock %}

{% block content %}



<section class="section welcome">
    <div class="container is-family-secondary">

        {% if page.show_content %}
        <section class="section pt-0 pl-0 pr-0">
            <h1 class="title">{{ page.title }}</h1>
            <div class="content">
                {{ page.body|richtext }}
            </div>
        </section>
        {% endif %}

        <div class="columns">
            <div class="column is-10 is-offset-1">

                {% for post in page.get_children %}
                <div class="card mb-6">
                    <div class="card-content">
                        <article class="media">
                            <div class="media-content">
                                <div class="columns">
                                    <div class="column is-one-third">
                                        <a href="#">
                                            <figure class="image is-4by3">
                                                {% image post.specific.cover width-1200 %}
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="column">
                                        <div class="content">
                                            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                                            <p>
                                                <strong>{{ post.owner.username }}</strong> <small>{{ post.specific.date }}</small>
                                            </p>
                                            <div class="content teaser">
                                                {{ post.specific.body|richtext }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if post.specific.gallery %}
                                <div class="columns is-multiline is-1 has-background-dark">
                                    {% for picture in post.specific.gallery %}
                                    <div class="column is-1">
                                        <figure class="image is-48x48">
                                            {% image picture fill-64x64 %}
                                        </figure>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                    <footer class="card-footer">
                        

                        <nav class="level">
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Tweets</p>
                                <p class="title">3,456</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Following</p>
                                <p class="title">123</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Followers</p>
                                <p class="title">456K</p>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <p class="heading">Likes</p>
                                <p class="title">789</p>
                              </div>
                            </div>
                          </nav>
                    </footer>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'bundle_blog.js' %}"></script>
{% endblock %}